* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

header,
footer,
aside {
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.3;
  flex-wrap: wrap;
  background-color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

aside {
  flex: 0 0 20%;
}

h1 {
  font-size: 200%;
}
nav {
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0.5rem 1rem;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

nav a {
  position: relative;
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

a:after {
  content: "";
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.1s;
}

a:hover {
  color: #fff;
}

nav a:hover:after {
  width: 100%;
}

.container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}

.ABM {
  /* display: flex; */
  flex: 0.5;
  /* background-color: #b9c6ae; */
  padding: 10px;
  text-align: center;
  /* flex: 0 0 auto; */
}

.tex-center {
  display: flex;
  flex: 1 0 200px;
  text-align: left;
}

.hero {
  /* font-size: 3rem; */
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../image/pexels-aleksandar-pasaric-2506861.jpg");
  background-size: cover;
  background-position: center;
}

.col {
  flex: 1 0 200px;
}

.col-1 {
  flex: 1 0 200px;
  padding: 20px;
}

.col-2 {
  flex: 1 0 200px;
  padding: 20px;
}

.hero-title {
  /* font-family: Modern Love; */
  font-size: 4.5rem;
}

.hero-desc {
  font-size: 2rem;
}
.hero {
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
}

.imgAboutPage {
  width: 30%;
}

.projects {
  /* display: grid;
  grid-template-columns: 200px 200px 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em 10px;
  width: 100%; */
  display: flex; 
  flex-wrap:  wrap;
  /* flex-direction: row-reverse; */
  justify-content: center;
  align-items: center; 
  color: #fff;
}

.WO {
 
  /* flex: 1 0 200px; */
}

.imageWork  {
  /* display: grid; */
  /* grid-template-columns: 200px 200px 100px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  /* grid-template-rows: repeat(1, 200px); */
  /* grid-gap: 1em 10px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.apps {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  max-width: 400px;
  padding: 5px; 
  /* display: flex; */
  /* /* flex: 1 0 200px; */
}

.text-work {
  /* display: grid;
  align-items: center;
  justify-items: center; */
  /* display: flex; */
  /* width: 30%; */
  /* flex: 1 0 200px; */
  /* text-align: right; */
}

#gymate#form#database#horiseon {
  width: 70%;
}

.big-img {
  width: 500px;
  height: 300px;
}
.img-form,.img-database,.img-horiseon {
  /* max-width: 200px; */
  padding: 5px;
}

article {
  display: grid;
  grid-template-columns: 100px 200px 200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em 10px;
  width: 100%;
  grid-template-areas: "";
  color: #fff;
}

Last {
  justify-items: center;
}

.lastP {
  flex: 1 0 200px;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.footerUL {
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* Tablet header changes  by using merdia query*/
@media screen and (max-width: 992px) {
  header,
  nav,
  main {
    margin: 0 auto;
    flex-direction: row;
  }
}

/* Large smartphones navbar changes */
@media screen and (max-width: 768px) {
  header,
  nav,
  main {
    margin: 0 auto;
    flex-direction: row;
  }
}

/* Small smartphones image placeholders changes */
@media screen and (max-width: 576px) {
  header,
  nav,
  main {
    margin: 0 auto;
    flex-direction: row;
  }
}
