* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/* Header, footer and aside paddings. */
header,
footer,
aside {
  padding: 1rem;
}

/* Link scrolling speed. */
html {
  scroll-behavior: smooth;
}

/* Body display properties. */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.3;
  flex-wrap: wrap;
  background-color: #414954;
}

/* Header display properties. */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  background-color: #414954;
  color: #fff;
  flex-wrap: wrap;
}

/* Footer display properties. */
footer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Main display properties. */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

aside {
  flex: 0 0 20%;
}

/* Font size of h1. */
h1 {
  font-size: 200%;
}

/* Nav display properties. */
nav {
  display: flex;
  flex-wrap: wrap;
}

/* Nav ul display elements. */
nav ul {
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Nav paddings. */
nav li {
  padding: 0.5rem 1rem;
}

/* Nav a elemen styling. */
nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* Nav a element color and position. */
nav a {
  position: relative;
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

/* A element's underline efect.  */
a:after {
  content: "";
  position: absolute;
  background-color: #d74e2a;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.1s;
}

/* A element color after hover. */
a:hover {
  color: #d74e2a;
}

/* A element hover fucntion after. */
nav a:hover:after {
  width: 100%;
}

/* About me display layout. */
.container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}

/* Aside display properties. */
.ABM {
  flex: 0.5;
  padding: 10px;
  text-align: center;
}

/* About me title properties. */
.tex-center {
  display: flex;
  flex: 1 0 200px;
  text-align: left;
}

/* Main bacground image properties. */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../image/pexels-aleksandar-pasaric-2506861.jpg");
  background-size: cover;
  background-position: center;
}

/* About me image */
.col {
  flex: 1 0 200px;
}

/* About me paragraph display layout. */
.col-1,.col-2 {
  flex: 1 0 200px;
  padding: 20px;
}

/* Name title size. */
.hero-title {
  font-size: 4.5rem;

}

/* Web developer title size. */
.hero-desc {
  font-size: 2rem;
}

/* About me section title size. */
.hero {
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
}

/* About me image width. */
.imgAboutPage {
  width: 30%;
}

/* Project section display properties. */
.projects {
  display: flex; 
  flex-wrap:  wrap;
  justify-content: center;
  color: #fff;
}

/* Work images display layout. */
.imageWork  {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

/* Project image size. */
.apps {
  max-width: 400px;
  padding: 5px; 
}

/* Project image width. */
#gymate#form#database#horiseon {
  width: 70%;
}

/* Project big image layout. */
.big-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

/* Project image's padding. */
.img-form,.img-database,.img-horiseon {
  padding: 5px;
  object-fit: cover;
}

/*  Resume article. */
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  text-align: justify;
  color: #fff;
}

/* Paragraph of resume's display attributes. */
.lastP {
  flex: 1 0 200px;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

/* Footer Contact me postion. */
.Me {
  justify-items: center;
  color: #fff;
}

/* Footer display elements. */
.footerUL {
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* Tablet header changes  by using merdia query*/
@media screen and (max-width: 992px) {
  header,
  nav,
  main {
    margin: 0 auto;
    flex-direction: row;
  }
}

/* Large smartphones navbar changes */
@media screen and (max-width: 768px) {
  header,
  nav,
  main {
    margin: 0 auto;
    flex-direction: row;
  }
}

/* Small smartphones image placeholders changes */
@media screen and (max-width: 576px) {
  header,
  nav,
  main {
    margin: 0 auto;
    flex-direction: row;
  }
}
